<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Admin </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#">Polen Ershan</a></li>
                    <li role="presentation"><a href="/signin">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li><a href="/products/new">Product Add</a></li>
                <li><a href="/products/all">Product List</a></li>
                <li><a href="/product/orders/all">Ordered product</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View Detail</h3></div>
                <div class="panel-body"><span> </span>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            
                            <div class="panel-body"><span> </span>

                                <div>
         <img src= <%=request.product.image %>  width="300" height="200">
        <h3>Product ID:  <%=request.product._id %></h3>
        <% console.log(request.product)%>
        <h4>Name: <%=request.product.name %></h4>
        <h4>Description:  <%=request.product.description %></h4>
        <h4>Brand:  <%=request.product.brand %></h4>
        <h4>Price:  <%=request.product.price %></h4>
        
        
        <p> <%= request.product.content %> </p>
        
        <p>
            <h2> Date: <%= request.product.created %></h2> 
            </p>
      
            </p>
            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>